    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain Light";
    color: #fff;
}

html, body {
    width: 100%;
    height: 100%;
}

#crsr{
    height: 2.8vw;
    width: 2.8vw;
    /* background-color: #fff; */
    border: 1px solid rgb(168, 165, 165);
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50% ,-50%);
}

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #030303;
    padding: 25vh 10vw;
}
.line h1{
 font-size: 6.5vw;
 text-transform: uppercase;
 font-weight: 900;
}
.line {
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    gap: 3vw;
}
#line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#line1-part1 h5 , #line1-part1 h6 {
    font-size: 3vw;
    font-weight: 100;
    font-family: "Silk Serif";
}
#line1-part1 h5 {
    width: 5vw;
    text-align: right;
}
.line h2 {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    animation-duration: 1s;
    opacity: 0;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes aime {
    0%{
       font-family: "Plain Light";
       -webkit-text-stroke: 1px #fff;
       color: white;
       font-weight: 500;
       opacity: 1;
    }
    48%{
       font-family: "Plain Light";
       -webkit-text-stroke: 1px #fff;
        color: white;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "Silk Serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1; 
    }
    100%{
        font-family: "Silk Serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}


#main {
    position: relative;
    background-color: #030303;
}

#page1 {
    width: 100%;
    height: 100vh;
    background-color: #151515;
}

#page1 #nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.7vw 4.8vw 4vw 8.4vw;
}

#nav-part2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 1.1vw;
    font-weight: 500;
}

.hero {
    /* background-color: red; */
    width: 72%;
    margin-left: 28%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.hero:nth-child(2){
    margin-top: 10vh;
    
}

.hero h1{
    font-size: 7.2vw;
    font-weight: 620;
    line-height: 7.2vw;
}

.hero h2 ,.hero h3{
    font-size: 7.2vw;
    font-weight: 620;
    line-height: 7.2vw;
}

.hero h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
}